@import '../../styles/variables.scss';

.projects{
    height: auto;
    color: $secondary-color;
    & .project-container{
        width: 100%;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        row-gap: 0.8rem;
        column-gap: 2rem;
        & .project{
            background: blueviolet;
            & .project-thumbnail{
                width: 100%;
                height: 150px;
                object-fit: cover;
            }
        }
    }
}