@import '../../styles/variables.scss';

.projects{
    height: auto;
    color: $secondary-color;
    & .project-container{
        width: 100%;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        row-gap: 0.8rem;
        // & .project{
        //     width: 25%;
        // }
    }
}