@import './variables.scss';

@mixin navbar-links{
    color: $primary-color;
    text-decoration: none;
    text-transform: capitalize;
}
@mixin nav-links-hover{
    color: $secondary-color;
    background-color: rgba($color: $primary-color, $alpha: 0.99);
}