@import '../../styles/variables.scss';
.about {
    & .about-content {
        width: 60%;
        margin: 0 auto;
    }
}
@media(max-width: $md){
    .about{
        & .about-content{
            width: 100%;
        }
    }
}
