@import '../../styles/variables.scss';
@import '../../styles/mixins.scss';

.navbar {
    display: flex;
    justify-content: space-between;
    background-color: $accent-navbar;
    padding: 0.5rem;
    & .nav-brand {
        display: flex;
        justify-content: center;
        align-items: center;
        & .logo {
            width: 50px;
            height: 50px;
            margin-right: 10px;
        }
        & h1{
            @include navbar-links;
        }
    }
    & .nav-menu{
        display: flex;
        place-items: center;
        & ul{
            display: flex;
            justify-content: center;
            align-items: center;
            list-style-type: none;
            & li{
                margin: auto 5px;
                & a{
                    @include navbar-links;
                    padding: 0.5rem 1rem;
                    &:hover{
                        @include nav-links-hover;
                    }
                }
            }
        }
    }
    & .social-profiles{
        display: flex;
        place-items: center;
        & a{
            @include navbar-links;
            margin: auto 15px;
            border-radius: 50%;
            width: 40px;
            height: 40px;
            display: flex;
            align-items: center;
            justify-content: center;
            // border: 1px solid #fff;

            &:hover{
                @include nav-links-hover;
            }
        }
    }
}
