#root {
    margin: 0 auto;
    text-align: center;
}
.container{
    max-width: 1280px;
    margin: 0 auto;
    text-align: center;
}
.section-title{
    width: 100%;
    height: auto;
    margin: 1rem auto 3rem;
}
@media(max-width: 1280px){
    .container{
        padding: 0 2rem;
    }
}