@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&family=Poppins:wght@400;500&display=swap");
* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    box-sizing: border-box;
}
/* outer container [Home] */
.container {
    font-family: "Poppins", sans-serif;
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
}
.wall {
    width: 100%;
    height: 150px;
    background: linear-gradient(
        149deg,
        rgba(178, 121, 184, 1) 0%,
        rgba(217, 180, 215, 1) 25%,
        rgba(187, 179, 197, 1) 85%
    );
    grid-column: 1/-1;
}
/* profile component */
.profile {
    display: flex;
    grid-column: 2/3;
    grid-row: 2/3;
    border-bottom: 2px solid;
}
.profile__image {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    position: relative;
    top: -3rem;
    border: 5px solid #fbf9fc;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
}
.profile__details {
    position: relative;
    left: 1rem;
}
.profile__details p {
    font-size: 0.9rem;
}
.action__buttons {
    margin-left: auto;
}
.action__buttons button {
    padding: 0.3rem 0.4rem;
    margin: 0.8rem 0.5rem;
    border-radius: 6px;
    outline: none;
    border: none;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
}
.resume__button {
    background: #fbf9fc;
}
.hire__button {
    background-color: #665893;
    color: #fbf9fc;
}
/* about component */
.about {
    padding: 1rem 0;
    grid-column: 2/3;
    grid-row: 3/4;
    border-bottom: 2px solid;
    display: grid;
    grid-template-columns: 1fr 3fr;
}
.about h4,
.about p {
    font-size: 0.9rem;
}
.contact {
    margin-top: 2rem;
    padding: 1rem;
    grid-column: 2/3;
    background-color: rgba(102, 88, 147, 0.3);
    border-radius: 5px;
    font-size: 0.5rem;
    display: grid;
    grid-template-columns: 0.7fr repeat(3, 1fr);
}
.contact p,
.contact a {
    font-size: 0.65rem;
}
.contact__type {
    color: #665893;
}
.contact__info {
    color: #665893;
    font-weight: bold;
    text-decoration: none;
}
/* Experience component */
.experience {
    padding: 1rem 0;
    grid-column: 2/3;
    grid-row: 4/5;
    border-bottom: 2px solid;
    display: grid;
    grid-template-columns: 1fr 3fr;
}
.experience h4,
.experience p {
    font-size: 0.9rem;
}
.experience__all {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 0.5rem;
}
.exp__card {
    display: grid;
    grid-template-columns: 1fr 6fr;
    background: #fbf9fc;
    border-radius: 5px;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
    border: 1.5px solid rgba(0, 0, 0, 0.1);
}
.exp__card--image {
    width: 35px;
    height: 35px;
    margin: 0.5rem 1rem auto 0.5rem;
    border-radius: 50%;
    grid-column: 1/2;
}
.exp__card--details {
    margin: 0.5rem 0;
    grid-column: 2/3;
}
.exp__card--details .designation {
    font-weight: bold;
    font-size: 0.7rem;
}
.exp__card--details .company {
    font-size: 0.65rem;
    font-weight: 550;
    color: rgba(0, 0, 0, 0.7);
}
.exp__card--details .duration {
    font-size: 0.6rem;
    font-weight: 500;
}

.exp__card--footer {
    border-top: 1.5px solid rgba(0, 0, 0, 0.1);
    grid-column: 1/-1;
}
.exp__card--footer p {
    padding: 0.2rem 1rem 0.2rem 0.5rem;
    font-size: 0.65rem;
    color: #665893;
    font-weight: 500;
}
/* projects component */
.projects {
    padding: 1rem 0;
    grid-column: 2/3;
    grid-row: 5/6;
    border-bottom: 2px solid;
    display: grid;
    grid-template-columns: 1fr 3fr;
}
.projects h4 {
    font-size: 0.9rem;
}
.projects__all {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 0.5rem;
}
.project__card {
    background: #fbf9fc;
    border-radius: 5px;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
    border: 1.5px solid rgba(0, 0, 0, 0.1);
}
.project__card p {
    padding: 0.2rem 1rem 0.2rem 0.5rem;
    font-size: 0.65rem;
    font-weight: 500;
    text-decoration: none;
}
.project__card--header {
    white-space: nowrap;
    text-overflow: ellipsis;
}
.project__card--header .project__title {
    font-weight: bold;
    font-size: 0.8rem;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.project__card--body {
    padding: 0.5rem 0;
    min-height: 7rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.tech__stack {
    color: #665893;
}
.tech__stack--title {
    font-size: 0.7rem;
    font-weight: bold;
}
.project__card--footer {
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    text-align: right;
}
.project__card--footer a {
    padding: 0 0.5rem;
    text-decoration: none;
    color: #000;
    font-size: 0.7rem;
}
.github__icon {
    width: 0.7rem;
    height: 0.7rem;
}
/* social component */
.social__icons{
    grid-column: 2/3;
    grid-row: 6/7;
    height: auto;
    display: flex;
    justify-content: center;
    padding: 2rem 0;
}
.social__icons div{
    margin: 1rem;
}
.social__icons div img{
    width: 3rem;
    height: 3rem;
}
/* footer component */
.footer {
    grid-column: 1/-1;
    grid-row: 7/8;
    padding: 0.5rem 0 0.3rem 0;
    margin: 0;
    background: linear-gradient(
        149deg,
        rgba(178, 121, 184, 1) 0%,
        rgba(217, 180, 215, 1) 25%,
        rgba(187, 179, 197, 1) 85%
    );
    display: flex;
    justify-content: space-around;
}
.footer p {
    font-size: 0.9rem;
    text-align: center;
}
.footer .footer__copyright{
    font-size: 0.7rem;
    margin-top: auto;
}